.sidebar-logo{
  text-align: center;

  img{
    display: inline-block;
    @media screen and (max-width:1250px){
      width: 100%;
    }
    @media screen and (max-width:768px){
      width: auto;
    }


  }
}

.nav-link{
  font-size: 18px;
}

.class-mobile-logout{
  display: none;

  @media screen and (max-width:768px){
    display: block;
  }
}

.fixed-bottom{
  @media screen and (max-width:768px){
    display: none;
  }
}

.logout{
  a{
    color: #fff;
  }

  opacity: 0.5;

  &:hover{
    opacity: 1;
  }
}